@use "../../foundation/global" as *;

.c-title {
    @include primary-bold;

    &--s {
        font-size: 3.4rem;
        color: $primary-color;

        @include breakpoint(s) {
            font-size: 2rem;
        }
    }

    &--m {
        font-size: 6rem;
        color: white;

        @include breakpoint(s) {
            font-size: 3.6rem;
        }
    }

    &--l {
        font-size: 6.4rem;
        color: $primary-color;

        @include breakpoint(m) {
            font-size: 4rem;
        }
    }

    &--xl {
        font-size: 8rem;
        color: white;

        @include breakpoint(m) {
            font-size: 4.4rem;
        }

        @include breakpoint(s) {
            font-size: 4.1rem;
        }
    }
}