@use "../foundation/global" as *;

.l-wrapper {
    width: 100vw;
    height: 100%;
    display: flex;

    &__inner {
        width: 80vw;
        height: 100%;

        @include breakpoint(m) {
            width: 100vw;
            height: 100%;
        }
    }
}

.l-contents {
    &--first {
        margin: 0 7.5rem;

        @include breakpoint(m) {
            margin: 0 2.5rem;
        }

        @include breakpoint(s) {
            margin: 0 1.25rem;
        }
    }

    &--subsequent {
        margin: 0 6.25rem 5rem 6.25rem;

        @include breakpoint(s) {
            margin: 0 1.25rem 5rem 1.25rem;
        }
    }

    &--single {
        margin: 0 6.25rem 30rem 6.25rem;

        @include breakpoint(s) {
            margin: 0 1.25rem 30rem 1.25rem;
        }
    }
}