@use "../../foundation/global" as *;

//ページネーション
.wp-pagenavi {
    display: flex;
    justify-content: center;
    align-items: center;
    @include primary-bold;
    margin-top: 150px;

    @include breakpoint(m) {
        @include secondary-bold;
        justify-content: space-between;
        margin-top: 106.5px;
    }

    @include breakpoint(s){
        margin-top: 71.55px;
    }

    .pages{
        color: $primary-color;
        padding-right: 1.5rem;

        @include breakpoint(m){
            display: none;
        }
    }

    .nextpostslink, .previouspostslink{
        color: $primary-color;
        font-size: 2.3rem;
    }

    .nextpostslink:hover, .previouspostslink:hover{
        opacity: .7;
    }
    
    a:not(:last-child) {
        @include breakpoint(l){
            margin-right: 0.938rem;
        }
    }

    .nextpostslink{
        @include breakpoint(m){
            margin-left: auto;
        }
    }
    

    .smaller, .larger{
        border: 1px solid $primary-color;
        width: 35px;
        height: 35px;
        color: $primary-color;
        display: grid;
        place-items: center;

        @include breakpoint(m){
            display: none;
        }

        &:hover {
            opacity: .7;
        }
    }

    .current{
        border: 1px solid $primary-color;
        background-color: $container-card;
        color: white;
        width: 35px;
        height: 35px;
        margin-right: 0.938rem;
        display: grid;
        place-items: center;

        @include breakpoint(m){
            display: none;
        }
    }
}

.nextpostslink::before {
    @include breakpoint(m){
        content: '次へ';
        padding-right: 5px;
        white-space: nowrap;
        @include secondary-bold;
    }
}
    
.previouspostslink::after {
    @include breakpoint(m){
        content: '前へ';
        padding-left: 5px;
        white-space: nowrap;
        @include secondary-bold;
    }  
}


