@charset "UTF-8";
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  color: #3C2A10;
  background-color: #FFFDFA;
}

iframe {
  vertical-align: bottom;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

li {
  list-style-position: inside;
}
li .wp-block-list {
  padding-left: 2rem;
}

.l-header {
  background-color: #FFF7EF;
  width: 100%;
  height: 214px;
  position: relative;
}
.l-header__inner {
  padding: 5rem 1.938rem 0 4.063rem;
}
.l-header__contents {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .l-header__contents {
    flex-direction: column;
  }
}
.l-header__openBtn {
  top: 0;
  right: 10px;
  position: absolute;
}
.l-header__openBtn:hover {
  opacity: 0.7;
}
.l-header__logo {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .l-header__logo {
    margin-bottom: 2rem;
  }
}
.l-header__link {
  color: #707070;
}
.l-header__link:hover {
  opacity: 0.7;
}

.l-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
}
.l-wrapper__inner {
  width: 80vw;
  height: 100%;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .l-wrapper__inner {
    width: 100vw;
    height: 100%;
  }
}

.l-contents--first {
  margin: 0 7.5rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .l-contents--first {
    margin: 0 2.5rem;
  }
}
@media (max-width: 768px) {
  .l-contents--first {
    margin: 0 1.25rem;
  }
}
.l-contents--subsequent {
  margin: 0 6.25rem 5rem 6.25rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .l-contents--subsequent {
    margin: 0 1.25rem 5rem 1.25rem;
  }
}
.l-contents--single {
  margin: 0 6.25rem 30rem 6.25rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .l-contents--single {
    margin: 0 1.25rem 30rem 1.25rem;
  }
}

.l-sidebar {
  background-color: #F2EDE9;
  width: 20vw;
  height: auto;
  min-height: 100%;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .l-sidebar {
    position: fixed;
    z-index: 999;
    top: 0;
    right: -90%;
    overflow: scroll;
    transition: 0.3s ease-out;
    overflow-x: hidden;
  }
  .l-sidebar.is-active {
    position: fixed;
    z-index: 999;
    right: 0;
    width: auto;
    height: 100vh;
    transition: 0.3s ease-out;
  }
}
.l-sidebar__inner {
  padding: 5.25rem 6rem 2.875rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media only screen and (max-width: 1650px) {
  .l-sidebar__inner {
    padding-left: 3rem;
  }
}
@media only screen and (max-width: 1200px) {
  .l-sidebar__inner {
    padding-left: 0.5rem;
  }
}
@media (max-width: 1024px) {
  .l-sidebar__inner {
    padding: 0 6rem 2.875rem;
  }
}

.l-footer {
  background-image: url(../images/pc-bg-footer@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.l-footer__inner {
  padding: 41px 0 27px 0;
}
.l-footer__menu {
  padding-bottom: 31px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .l-footer__menu {
    padding-bottom: 70px;
  }
}
.l-footer__item {
  font-size: 2rem;
  list-style-type: none;
}
.l-footer__item a {
  color: white;
}
.l-footer__item a:hover {
  opacity: 0.7;
}
.l-footer__item:first-of-type {
  padding-right: 10px;
}
.l-footer__item:last-of-type {
  border-left: 2px solid white;
  line-height: 2rem;
  padding-left: 10px;
}
.l-footer__copyright {
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

.c-button {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  text-align: center;
  border: 1px solid #707070;
  background: linear-gradient(#DED8D3, #F2EDE9);
  display: inline-block;
}
.c-button--search {
  border-radius: 10px;
  color: #707070;
  width: 136px;
  height: 46px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
.c-button--search:hover {
  color: #3C2A10;
}
@media (max-width: 768px) {
  .c-button--search {
    width: 90px;
  }
}
.c-button--large {
  border-radius: 20px;
  color: #3C2A10;
  padding: 2.5rem 15rem;
}
.c-button--large:hover {
  opacity: 0.7;
}

.wp-block-button:hover {
  opacity: 0.7;
}

.c-line {
  display: block;
  border-style: solid;
  border-color: white;
}
.c-line--m {
  border-width: 4px;
}
.c-line--l {
  border-width: 2px;
}

.c-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.c-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.c-title--s {
  font-size: 3.4rem;
  color: #707070;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .c-title--s {
    font-size: 2rem;
  }
}
.c-title--m {
  font-size: 6rem;
  color: white;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .c-title--m {
    font-size: 3.6rem;
  }
}
.c-title--l {
  font-size: 6.4rem;
  color: #707070;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .c-title--l {
    font-size: 4rem;
  }
}
.c-title--xl {
  font-size: 8rem;
  color: white;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .c-title--xl {
    font-size: 4.4rem;
  }
}
@media (max-width: 768px) {
  .c-title--xl {
    font-size: 4.1rem;
  }
}

.c-heading {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
}
.c-heading--xs {
  font-size: 2rem;
}
.c-heading--sm {
  font-size: 2.4rem;
}
.c-heading--md {
  font-size: 2.8rem;
}
.c-heading--lg {
  font-size: 3.4rem;
}
.c-heading--xl {
  font-size: 3.6rem;
}
.c-heading--xxl {
  font-size: 4rem;
}
.c-heading--xxxl {
  font-size: 6rem;
}

.c-grid {
  display: grid;
}
.c-grid__item--1of1 {
  grid-area: 1/1;
}

.c-flex {
  display: flex;
}
.c-flex--center {
  align-items: center;
  justify-content: center;
}
.c-flex--column {
  flex-direction: column;
  justify-content: space-between;
}
.c-flex--center-between {
  align-items: center;
  justify-content: space-between;
}

.c-button-card {
  border-radius: 60px;
  display: inline-block;
  background-color: white;
  border: 1px solid white;
  color: #707070;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  padding: 1.25rem 6.625rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
.c-button-card:hover {
  color: #3C2A10;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .c-button-card {
    padding: 0.688rem 2.635rem;
  }
}

.c-mv {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.c-mv-front {
  background-image: url(../images/mainvisual-pc@2x.jpg);
}
.c-mv-archive {
  background-image: url(../images/pc-mv_archive@2x.jpg);
}
.c-mv-single {
  background-image: url(../images/pc-mv_single@2x.jpg);
}
.c-mv-page {
  background-image: url(../images/pc-mv_page@2x.jpg);
}

.c-menuImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 1197px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .c-menuImage {
    min-height: 681px;
  }
}
@media (max-width: 768px) {
  .c-menuImage {
    min-height: 642px;
  }
}
.c-menuImage--takeOut {
  background-image: url(../images/pc-menu-take-out_front@2x.jpg);
}
.c-menuImage--eatIn {
  background-image: url(../images/pc-menu-eat-in_front@2x.jpg);
}

.c-list {
  color: #707070;
}
.c-list__title {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
}
.c-list__title a {
  padding-bottom: 32px;
  display: block;
}
.c-list__item {
  font-size: 2rem;
  font-weight: 400;
}
.c-list__item a {
  padding-bottom: 20px;
}
.c-list__link:hover {
  opacity: 0.7;
}

.c-searchBox {
  border: 1px solid #707070;
  border-radius: 10px;
  background: white;
  width: 100%;
  height: 100%;
  position: relative;
}
.c-searchBox::before {
  content: "";
  position: absolute;
  background-image: url(../images/pc-mushimegane@4x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 10px;
  transform: translate(-5%, -50%);
  display: inline-block;
}

.c-input {
  width: 100%;
  height: 100%;
  padding: 0 1rem 0 4rem;
  color: #707070;
}

.p-location {
  width: 100%;
  height: 100%;
}
.p-location__overlay {
  width: 100%;
  height: 100%;
}
.p-location__overlay::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5971);
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.p-location__map {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
.p-location__container {
  width: 70%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.2855);
  padding: 86px 134px 75px 119px;
  color: white;
  z-index: 3;
  position: relative;
  pointer-events: none;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-location__container {
    width: 100%;
    height: 100%;
    padding: 42px 1.813rem 40px 2.625rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .p-location__container {
    width: 100%;
    height: 60%;
  }
}
.p-location__title {
  padding-bottom: 50.5px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-location__title {
    padding-bottom: 15px;
    font-size: 3rem;
  }
}
.p-location__line {
  margin-bottom: 58.5px;
  width: 75px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-location__line {
    margin-bottom: 14px;
  }
}
.p-location__text {
  color: white;
  line-height: 3.3;
  height: auto;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-location__text {
    font-size: 1.4rem;
  }
}

.p-sideMenu {
  width: 100%;
}
.p-sideMenu__closeBtn {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-sideMenu__closeBtn {
    display: block;
    width: 45px;
    height: 35px;
    top: 5px;
    left: 115%;
    cursor: pointer;
    position: relative;
    margin-bottom: 121px;
  }
  .p-sideMenu__closeBtn::before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    width: 35px;
    background-color: #707070;
    transform: rotate(45deg);
    position: absolute;
  }
  .p-sideMenu__closeBtn::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    width: 35px;
    background-color: #707070;
    transform: rotate(-45deg);
    position: absolute;
  }
  .p-sideMenu__closeBtn:hover {
    opacity: 0.7;
  }
}
.p-sideMenu__title {
  padding-bottom: 90px;
}
.p-sideMenu__lists {
  white-space: nowrap;
}
.p-sideMenu__list {
  padding-bottom: 32px;
}
.p-sideMenu__list a {
  color: #707070;
}
.p-sideMenu__list a:hover {
  opacity: 0.7;
}
.p-sideMenu__item {
  padding-left: 20px;
}

.p-sideMenu__lists {
  list-style-type: none;
}
.p-sideMenu__lists a {
  font-size: 2.4rem;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  padding-bottom: 32px;
  display: block;
}

.p-sideMenu__subList {
  list-style-type: none;
  padding-left: 20px;
}
.p-sideMenu__subList a {
  padding-bottom: 20px;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 150px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .wp-pagenavi {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
    justify-content: space-between;
    margin-top: 106.5px;
  }
}
@media (max-width: 768px) {
  .wp-pagenavi {
    margin-top: 71.55px;
  }
}
.wp-pagenavi .pages {
  color: #707070;
  padding-right: 1.5rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .wp-pagenavi .pages {
    display: none;
  }
}
.wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink {
  color: #707070;
  font-size: 2.3rem;
}
.wp-pagenavi .nextpostslink:hover, .wp-pagenavi .previouspostslink:hover {
  opacity: 0.7;
}
.wp-pagenavi a:not(:last-child) {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (min-width: 1024px) {
  .wp-pagenavi a:not(:last-child) {
    margin-right: 0.938rem;
  }
}
.wp-pagenavi .nextpostslink {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .wp-pagenavi .nextpostslink {
    margin-left: auto;
  }
}
.wp-pagenavi .smaller, .wp-pagenavi .larger {
  border: 1px solid #707070;
  width: 35px;
  height: 35px;
  color: #707070;
  display: grid;
  place-items: center;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .wp-pagenavi .smaller, .wp-pagenavi .larger {
    display: none;
  }
}
.wp-pagenavi .smaller:hover, .wp-pagenavi .larger:hover {
  opacity: 0.7;
}
.wp-pagenavi .current {
  border: 1px solid #707070;
  background-color: #3C2B1C;
  color: white;
  width: 35px;
  height: 35px;
  margin-right: 0.938rem;
  display: grid;
  place-items: center;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .wp-pagenavi .current {
    display: none;
  }
}

.nextpostslink::before {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .nextpostslink::before {
    content: "次へ";
    padding-right: 5px;
    white-space: nowrap;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
  }
}

.previouspostslink::after {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .previouspostslink::after {
    content: "前へ";
    padding-left: 5px;
    white-space: nowrap;
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 700;
  }
}

.p-menu {
  margin-bottom: 130px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-menu {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .p-menu {
    margin-bottom: 49px;
  }
}
.p-menu__inner {
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(20.938rem, 1fr));
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-menu__inner {
    gap: 2.563rem;
  }
}
@media (max-width: 768px) {
  .p-menu__inner {
    gap: 1.25rem;
  }
}
.p-menu__wrapper {
  padding-top: 26px;
  padding-left: 11px;
}
.p-menu__title {
  padding-bottom: 2.563px;
}
.p-menu__line {
  width: 63px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-menu__line {
    width: 36px;
  }
}
@media (max-width: 768px) {
  .p-menu__line {
    width: 34px;
  }
}
.p-menu__link {
  color: #3C2A10;
}
.p-menu__link:hover {
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}
.p-menu__container {
  background-color: rgba(255, 255, 255, 0.7979);
  margin: 0 20px 20px 20px;
  height: auto;
  padding: 14px 20px;
}
.p-menu__subtitle {
  padding-bottom: 1.125rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-menu__subtitle {
    font-size: 2.4rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .p-menu__subtitle {
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
  }
}
.p-menu__text {
  height: auto;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-menu__text {
    font-size: 1.4rem;
  }
}
@media (max-width: 1024px) {
  .p-menu__text {
    font-size: unset;
  }
}

.p-fv-front {
  min-height: 530px;
  position: relative;
  margin-bottom: 120px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-fv-front {
    margin-bottom: 40px;
    min-height: 285px;
  }
}
@media (max-width: 768px) {
  .p-fv-front {
    margin-bottom: 20px;
  }
}
.p-fv-front__title {
  position: absolute;
  top: 50%;
  left: 5.375rem;
  transform: translate(-5.34%, -50%);
  color: white;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-fv-front__title {
    font-size: 3.6rem;
  }
}

.p-fv-archive {
  min-height: 239px;
  position: relative;
  margin-bottom: 63px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-fv-archive {
    min-height: 285px;
    margin-bottom: 39px;
  }
}
@media (max-width: 768px) {
  .p-fv-archive {
    margin-bottom: 32px;
  }
}
.p-fv-archive::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.p-fv-archive__contents {
  position: absolute;
  top: 50%;
  left: 5.375rem;
  transform: translate(-5.34%, -50%);
  z-index: 2;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-fv-archive__contents {
    flex-direction: column;
  }
}
.p-fv-archive__title {
  display: inline-block;
}
.p-fv-archive__subtitle {
  display: inline-block;
  color: white;
  padding-left: 19px;
}

.p-fv-page {
  min-height: 500px;
  position: relative;
  margin-bottom: 63px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-fv-page {
    margin-bottom: 60px;
    min-height: 505px;
  }
}
@media (max-width: 768px) {
  .p-fv-page {
    min-height: 225px;
    margin-bottom: 34px;
  }
}
.p-fv-page__title {
  position: absolute;
  top: 50%;
  left: 5.375rem;
  transform: translate(-5.34%, -50%);
  color: white; /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-fv-page__title {
    font-size: 3.6rem;
  }
}

.p-fv-single {
  min-height: 500px;
  position: relative;
  margin-bottom: 63px;
  position: relative;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
.p-fv-single::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 1024px) {
  .p-fv-single {
    margin-bottom: 60px;
    min-height: 505px;
  }
}
@media (max-width: 768px) {
  .p-fv-single {
    min-height: 225px;
    margin-bottom: 34px;
  }
}
.p-fv-single__title {
  position: absolute;
  top: 50%;
  left: 5.375rem;
  transform: translate(-5.34%, -50%);
  color: white;
  z-index: 2;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-fv-single__title {
    font-size: 3.6rem;
  }
}

.p-searchForm {
  width: 50%;
  height: 46px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-searchForm {
    width: 90%;
  }
}
.p-searchForm__button {
  margin-left: 1rem;
}

.p-intro-archive {
  margin-bottom: 70px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-intro-archive {
    margin-bottom: 37px;
  }
}
@media (max-width: 768px) {
  .p-intro-archive {
    margin-bottom: 19px;
  }
}
.p-intro-archive__title {
  padding-bottom: 20px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-intro-archive__title {
    padding-bottom: 25px;
    font-size: 2.8rem;
  }
}

.p-intro-single {
  margin-bottom: 60px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-intro-single {
    margin-bottom: 55px;
  }
}
@media (max-width: 768px) {
  .p-intro-single {
    margin-bottom: 36px;
  }
}
.p-intro-single__title {
  padding-bottom: 57px;
  font-size: 2.8rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-intro-single__title {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .p-intro-single__title {
    margin-bottom: 25px;
  }
}

.p-heading03 {
  margin-bottom: 56px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-heading03 {
    font-size: 2.4rem;
    margin-bottom: 28px;
  }
}

.p-heading04 {
  margin-bottom: 57px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-heading04 {
    font-size: 2rem;
    margin-bottom: 34px;
  }
}

.p-heading05 {
  margin-bottom: 57px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-heading05 {
    font-size: 2rem;
    margin-bottom: 27px;
  }
}

.p-heading06 {
  margin-bottom: 56px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-heading06 {
    font-size: 2rem;
    margin-bottom: 26px;
  }
}

.p-largerImage {
  margin-bottom: 60px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-largerImage {
    margin-bottom: 30px;
  }
}

.p-media {
  margin-bottom: 60px;
  grid-template-columns: repeat(auto-fit, minmax(7.125rem, 1fr));
  gap: 2.5rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-media {
    gap: 1.25rem;
  }
}
@media (max-width: 768px) {
  .p-media {
    gap: 1rem;
  }
}
.p-media__image {
  height: auto;
}
.p-media__text {
  height: 100%;
}

.p-smallerImage {
  max-width: 36.313rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-smallerImage {
    margin-bottom: 241px;
  }
}
@media (max-width: 768px) {
  .p-smallerImage {
    margin-bottom: 30px;
  }
}

.p-gallery {
  gap: 1.25rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20.938rem, 1fr));
  margin-bottom: 54px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-gallery {
    margin-bottom: 61px;
  }
}
@media (max-width: 768px) {
  .p-gallery {
    margin-bottom: 33px;
  }
}

.p-code {
  background-color: #F5F5F5;
  height: auto;
  padding: 3.125rem 3.75rem 3.125rem 3.125px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-code {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .p-code {
    margin-bottom: 30px;
  }
}

.p-table {
  border-collapse: collapse;
  background-color: white;
  width: 100%;
  height: auto;
  table-layout: fixed;
  margin-bottom: 60px;
}
.p-table__row {
  border: 1px solid #707070;
}
.p-table__column {
  border: 1px solid #707070;
  color: #3C2A10;
  padding-left: 1.875rem;
  text-align: left;
}
.p-table__column:nth-child(1) {
  width: 30%;
}
.p-table__column:nth-child(2) {
  width: 70%;
}

.p-button-single {
  margin-bottom: 61px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-button-single {
    margin-bottom: 31px;
  }
}

.p-highlightText {
  padding-bottom: 277px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-highlightText {
    padding-bottom: 149px;
  }
}
@media (max-width: 768px) {
  .p-highlightText {
    padding-bottom: 69px;
  }
}

.p-quote {
  background-color: #F5F5F5;
  padding: 50px 60px 47px 50px;
  height: auto;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-quote {
    margin-bottom: 30px;
  }
}
.p-quote__text {
  height: auto;
  font-size: 2rem;
  margin-bottom: 61px;
}
.p-quote__link {
  text-decoration: underline;
}

.p-orderedList {
  margin-bottom: 56px;
  list-style-position: inside;
}
.p-orderedList__item {
  list-style-type: decimal;
}
.p-orderedList__list:not(:last-child) {
  padding-bottom: 17px;
}
.p-orderedList__list:nth-child(2) {
  padding-left: 2rem;
}

.p-unorderedList {
  margin-bottom: 57px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-unorderedList {
    margin-bottom: 26px;
  }
}
.p-unorderedList__list:not(:last-child) {
  padding-bottom: 17px;
}
.p-unorderedList__list:nth-child(2) {
  padding-left: 2rem;
}

.p-card:not(:last-child) {
  margin-bottom: 1.875rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-card:not(:last-child) {
    margin-bottom: 1.281rem;
  }
}
@media (max-width: 768px) {
  .p-card:not(:last-child) {
    margin-bottom: 1.305rem;
  }
}
.p-card:last-child {
  margin-bottom: 150px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-card:last-child {
    margin-bottom: 106.5px;
  }
}
@media (max-width: 768px) {
  .p-card:last-child {
    margin-bottom: 71.55px;
  }
}
.p-card__contents {
  min-height: 471px;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
}
.p-card__container {
  background-color: #3C2B1C;
  text-align: center;
  padding: 3.75rem 3.938rem;
}
.p-card__title {
  color: white;
  text-align: left;
  padding-bottom: 41px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-card__title {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .p-card__title {
    padding-bottom: 21px;
  }
}
.p-card__subtitle {
  color: white;
  text-align: left;
  padding-bottom: 16px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-card__subtitle {
    font-size: unset;
  }
}
@media (max-width: 768px) {
  .p-card__subtitle {
    padding-bottom: 7px;
  }
}
.p-card__text {
  color: white;
  height: auto;
  text-align: left;
  padding-bottom: 60px;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .p-card__text {
    padding-bottom: 40px;
  }
}

.p-overlay-hamburgerMenu { /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-overlay-hamburgerMenu {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.502);
    width: 0;
    height: 0;
  }
  .p-overlay-hamburgerMenu.is-active {
    /*以下は画面幅が1024px以上になったら適応される*/
    /*以下は画面幅が0~1024pxで適応される*/
    /*以下は画面幅が0~768px以下になったら適応される*/
  }
}
@media (max-width: 1024px) and (max-width: 1024px) {
  .p-overlay-hamburgerMenu.is-active {
    /* メニューが表示されているときに背景が表示 */
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    -webkit-animation-name: bg-in;
            animation-name: bg-in;
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.p-page404 {
  padding: 200px 0;
  text-align: center;
}
.p-page404__title {
  font-size: 5rem;
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .p-page404__title {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .p-page404__title {
    font-size: 3rem;
  }
}
.p-page404__button {
  display: block;
  background-color: #3C2A10;
  color: #FFFDFA;
  width: 300px;
  border-radius: 20px;
  margin: 50px auto;
  padding: 20px;
  cursor: pointer;
  font-size: unset;
}
.p-page404__button:hover {
  opacity: 0.7;
}

.u-mb117px {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .u-mb117px {
    margin-bottom: 117px;
  }
}

/*画面幅が~1024pxで非表示*/
.u-hide--tab {
  display: none;
  /*画面幅が1024px以上になったら表示*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (min-width: 1024px) {
  .u-hide--tab {
    display: block;
  }
}

.u-hide--onlyTab {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .u-hide--onlyTab {
    display: none;
  }
}

/*画面幅が1024px以上になったら非表示*/
.u-hide--pc {
  display: none;
  /*画面幅が~1024pxで表示*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 1024px) {
  .u-hide--pc {
    display: block;
  }
}

/*画面幅が375px以下になったら表示*/
.u-show--sp {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .u-show--sp {
    display: block;
  }
}

.u-show--onlySp {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .u-show--onlySp {
    display: block;
  }
}
@media (min-width: 1024px) {
  .u-show--onlySp {
    display: none;
  }
}

/*画面幅が375px以下になったら非表示*/
.u-hide--sp {
  /*以下は画面幅が1024px以上になったら適応される*/
  /*以下は画面幅が0~1024pxで適応される*/
  /*以下は画面幅が0~768px以下になったら適応される*/
}
@media (max-width: 768px) {
  .u-hide--sp {
    display: none;
  }
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
}

.alignright {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}

.alignleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.gallery-caption {
  display: block;
  margin-top: 1.5em;
  text-align: center;
}

.wp-caption-text {
  margin-top: 0;
}

.wp-caption {
  display: block;
  max-width: 100% !important;
  margin-top: 1.5em;
  text-align: center;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
/*# sourceMappingURL=style.css.map */